#server-channel-holder {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.selected-public-server-name-header {
    height: 35px;
    background-color: #2f3136;
    border-bottom: 1px solid #2f3136;
    border-right: 1px solid #2f3136;
    border-bottom-style: outset;
    display: flex;
    width: 100%;
    padding-left: 0px;
}

#channel-link-ul {
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-right: 0;
    margin-inline-end: 0;
    margin-right: 10px;
    margin-left: 15px;
}

li.selected-channel {
    background-color: #393c43;
    color: whitesmoke;
    font-size: 14px;
}

ul .channel {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #829297;
    border-radius: 5px;
    padding: 4px;
    margin-top: 2px
}

.channel:hover {
    background-color: #393c43;
}

.channel-link {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #829297;
    margin: 0 auto;
    align-items: baseline;
    color: whitesmoke
}

a .channel-name {
    color: whitesmoke;
    margin-left: 10px;
    font-size: 15px;
}

.channel-name-top {
    color: whitesmoke;
    margin-left: 10px;
    font-size: 15px;
    padding-top: 3px;
    font-weight: bold;
    display: flex;
    min-width: 250px;
    align-items: baseline;
}

.fa-hashtag {
    color: #829297;
    padding: 7px;
}

a .delete-channel-button {
    height: 75%;
    padding-top: 2px;
    background-color: #2f3136;
    border-style: unset;
    color: whitesmoke;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.server-view-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
}

.delete-button {
    background-color: #55537c;
    color: whitesmoke;
}

.message-item-div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px;
}

.message-item-div > li {
    width: 100%;
}

.message-item-div:hover {
    background-color: #2f3136;
    border-radius: 2px;
    .edit-button {
        opacity: 1;
        // box-shadow: none;
        // outline: none;
    }
}

.edit-button-holder {
    position: relative;
    display: flex;
    align-items: center;
}

.edit-button {
    opacity: 0;
    // position: absolute;
    color: white;
    font-size: 12px;
    // border-style: unset;
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 7px;
    
}

.edit-button:hover {
        border-width: 1px;
        border-radius: 50%;
        background-color: #36393f;
        cursor: pointer;
        // box-shadow: none;
        // outline: none;
    }

.fas-pen {
    height: 5px;
}

.author-name-date {
    display: flex;
    flex-direction: row;
    margin-bottom: 6px;
}

.message-avatar {
    max-height: 42px;
    max-width: 42px;
    margin-right: 20px;
}

.for-border {
    position: relative;
    border-top: 1px solid #42454a;
    z-index: 0;
    margin-bottom: 28px;
}

.top-date {
    position:absolute;
    color: #6c6f77;
    display: flex;
    font-weight: bold;
    font-size: 11px;
    justify-content: center;
    width: 100%;
    z-index: 5;
    top: -7px;
}

div span.top-date-span {
    background-color: #36393f;
    padding-left: 2px;
    padding-right: 2px;
}

.in-message-date-span {
    color: #6c6f77;
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
}

.message-body {
    color: #b9bbbe;
    font-weight: lighter;
    min-width: 70%;
    max-width: 70%;
    line-height: 20px;
}

.author {
    font-weight: 500;
    color: white;
}

.body-and-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 26px;
}

.editing-button {
    color: whitesmoke;
    background-color: #55537c;
}

.search-and-channel-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 72%;
}