#home-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#button-holder {
    min-height: 25px;
}

#middle-buttons {
    position: absolute;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    color: whitesmoke;
    max-width: 650px;
    margin:auto;
    left: 50%;
    top: 60%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#centerer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 88%;
    margin: 0 auto;
    padding-top: 20px;
}

#home-demo-button {
    margin: 5px;
    border-radius: 16px;
    min-width: 250px;
    font-size: 18px;
    line-height: 24px;
    padding: 10px 16px;
    background-color: white;
    color: #23272a;
    cursor: pointer;
    font-weight: 500;
    box-sizing: border-box;
}

#home-signup-button {
    margin: 5px;
    border-radius: 16px;
    min-width: 250px;
    font-size: 18px;
    line-height: 24px;
    padding: 10px 16px;
    background-color: #23272a;
    color: white;
    cursor: pointer;
    font-weight: 500;
    box-sizing: border-box;
}

button:hover {
    // border-style: inset;
    cursor: pointer;
}

button {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#login-button {
    border-radius: 16px;
    font-size: 14px;
    background-color: white;
    padding: 10px 16px;
    color: #23272a;
    border-style: none;
    margin-top: 10px;
}

#welcome {
    font-size: 44px;
    text-align: center;
}

#subwelcome {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

#home-page-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    width: 70%;
    margin: 0 auto;

}

#homepage-logo-container {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;
}

#homepage-logo-text {
    max-height: 20px;
}

#homepage-logo {
    max-height: 40px;
}

#top-of-page {
    background-color: #2a5ee8;
    min-height: 50%;
    background-image: image-url('composed_bigger.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#bottom-of-top-images {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#top-images {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
}

#tleft {
    margin-right: 0px;
    position: relative;
    right: 450px;
    bottom: -50px;
}

#tright {
    margin-left: 0px;
    position: relative;
    right: 50px;
    bottom: -50px;
}

#ship {
    position: relative;
    right: -290px;
    top: 30px;
    max-height: 75px;
}

.top-image {
    z-index: 1;
}

.background {
    z-index: 0;
}

.middle-div {
    min-height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 5px;
}

.chat-image {
    max-height: 500px;
    max-width: 650px;
    margin: 0 auto;
}

#middle-caption-on-right {
    h2 {
        width: 50%;
        font-size: 35px;
        // line-height: 120%;
        font-weight: 700;
        margin: 0 auto;
    }
}

#middle-caption-on-left {
    h2 {
        width: 50%;
        font-size: 35px;
        // line-height: 120%;
        font-weight: 700;
        margin: 0 auto;
        text-align: center;
    }
    p {
        width: 50%;
        font-size: 20px;
        margin: 0 auto;
        text-align: center;
        padding-top: 20px;
    }
}

#third-div {
background-color: #f6f6f6;
margin-bottom: 2px;
}

footer {
    height: 20%;
    background-color: #23272a;
    color: whitesmoke;
}

#footer-button {
    background-color: #7289da;
    border: 1px solid #697dc7;
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 16px;
    color: whitesmoke;
    margin: 5px;
}

#subfooter {
    max-width: 100%;
    
    background-color: #23272a;
}

#sub-subfooter {
    border-top: 1px solid #7289da;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
}

#footer-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#me-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 450px;
    align-items: baseline;
    margin-top: 20px;
    padding-right: 70px;
    font-size: 14px;
    /* position: absolute; */
}

#bottom-of-page {
    background-color: #23272a;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#project-nav {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 20px;
    h4 {
        margin-bottom: 4px;
        color: whitesmoke;
    }
}

#home-footer-nav {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 20px;

    h4 {
        margin-bottom: 4px;
        color: whitesmoke;
    }
}


#technologies {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    padding-bottom: 20px;
    line-height: 17px;
    h4 {
        margin-bottom: 4px;
        color: whitesmoke;
    }
}

#about {
    text-align: center;
}