.selected-public-server-name-header {
    color: whitesmoke;
    text-align: right;
    font-weight: bolder;
    // justify-content: flex-start;
    font-size: 16px;
}

.selected-public-server-name-header div {
    padding-top: 9px;
    padding-right: 35px;
    margin-right: 100px;
}

div.channel-label {
    padding-top: 21px;
    font-size: 12px;
    padding-left: 14px;
}

div #channel-link-ul {
    margin-top: 11px;
    margin-left: 11px;
}

#new-channel-form {
    margin-left: 13px;
    border-radius: 5px;
}

#new-channel-box {
    background-color: #393c43;
    border-style: unset;
    height: 20px;
    margin-left: 9px;
    border-radius: 2px;
}

#channel-add-button {
    background-color: #393c43;
    border-style: unset;
    height: 22px;
}

.delete-channel-button {
    background-color: #2f3136;
    border-style: unset;
    height: 22px;
    padding-bottom: 25px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 50%;
    font-weight: bolder;
    font-size: 20px;
    align-self: center;
}

.message-form {
    background-color: #40444b;
    border-style: unset;
    // height: 20px;
    margin-left: 20px;
    border-radius: 5px;
    bottom: 60px;
    // position: absolute;
    height: 50px;
    width: 93%;
    font-size: 15px;
    padding-left: 30px;
    color: #b9bbbe;
}

.message-form:focus { 
    border: none; 
    outline: none;
}

#message-form-holder {
    position: absolute;
    bottom: 61px;
    width: 98%;
    height: fit-content;
}

#create-message-plane {
    margin-right: 0;
    margin-left: -5px;
    padding: none;
    background-color: #40444b;
    color: #b9bbbe;

    // position: absolute;
    // bottom: 46px;
    // right: 45px;
    height: 15px;
}

#plane-button {
    background-color: #40444b;
    margin-left: -10px;
    border-style: unset;
    border-radius: 5px;
    height: 52px;
    width: 40px;
}

#list {
    padding-left: 25px;
    margin-top: auto;
}

#micontainer-holder {
    height: 100vh;
}

#message-div {
    height: 87%;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
}

#message-div > ul:last-child {
    scroll-snap-align: end;
}

#message-div::-webkit-scrollbar {
    width: 20px;
}

// .fa-paper-plane-edit {
//     margin-right: 0;
//     margin-left: none;
//     padding-left: 0;
//     position: absolute;
//     bottom: 46px;
//     right: 45px;
//     height: 45px;
// }

.load-button {
    position: relative;
    bottom: 20px;
    left: 20px;
    background-color:#55537c;
    color: whitesmoke;
    border-style: unset;
    display: none;
}

.message-post-form {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.message-holder {
    height: fit-content;
    width: 100%;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: whitesmoke;
}

.message-holder > div {
    width: 100%;
}

.server-view-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.message-form-edit {
    background-color: #40444b;
    border-style: unset;
    // height: 20px;
    
    border-radius: 5px;
    bottom: 60px;
    // position: absolute;
    min-height: 50px;
    height: fit-content;
    width: 93%;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: #b9bbbe;
}

.message-form-edit::-webkit-scrollbar {
    width: 10px;
    background-color: #40444b;
}

.message-form-form {
    width: 100%;
}

.message-form-edit:focus { 
    border: none; 
    outline: none;
}