.selected-public-server-name-header {
    color: whitesmoke;
    text-align: right;
    font-weight: bolder;
    // justify-content: flex-start;
    font-size: 16px;
}

.selected-public-server-name-header div {
    padding-top: 9px;
    padding-right: 35px;
    margin-right: 100px;
}

div.channel-label {
    padding-top: 21px;
    font-size: 12px;
    padding-left: 14px;
}

div #channel-link-ul {
    margin-top: 11px;
    margin-left: 11px;
}

#new-channel-form {
    margin-left: 13px;
    border-radius: 5px;
}

#new-channel-box {
    background-color: #393c43;
    border-style: unset;
    height: 20px;
    margin-left: 9px;
    border-radius: 2px;
}

#channel-add-button {
    background-color: #393c43;
    border-style: unset;
    height: 22px;
}

.delete-channel-button {
    background-color: #2f3136;
    border-style: unset;
    height: 22px;
    padding-bottom: 25px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 50%;
    font-weight: bolder;
    font-size: 20px;
    align-self: center;
}

.message-form {
    background-color: #40444b;
    border-style: unset;
    height: 20px;
    margin-left: 20px;
    border-radius: 5px;
    bottom: 60px;
    position: absolute;
    height: 50px;
    width: 93%;
    font-size: 15px;
    padding-left: 30px;
}

#message-form-holder {
    width: 100%;
}

#create-message-plane {
    margin-right: 0;
    margin-left: none;
    padding-left: 0;
    position: absolute;
    bottom: 46px;
    right: 45px;
    height: 45px;
}

// .fa-paper-plane-edit {
//     margin-right: 0;
//     margin-left: none;
//     padding-left: 0;
//     position: absolute;
//     bottom: 46px;
//     right: 45px;
//     height: 45px;
// }

.load-button {
    position: relative;
    bottom: 20px;
    left: 20px;
    background-color:#55537c;
    color: whitesmoke;
    border-style: unset;
    display: none;
}

.message-post-form {
    display: flex;
    flex-direction: row;
}

.message-holder {
    height: 100%;
    width: 100%;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: whitesmoke;
}

.server-view-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}